.top, .bottom {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content:center;
    background-color:#C8102E;
}
.bottom{
    background-color: #003DA5;
    height: 520%;
}

.site {
    display: flex;
    border: 1%;
    margin: 1%;
    margin-right: 10%;
    align-content: center;
    width: 90%;
}
.link{
    text-decoration: none;
}
.link:link {
    color:black;
}
.link:visited {
    color:black;
}
.site a:hover {
    color:rgb(216, 216, 216)
}

#wafel, #hagel, #herring, #lico {
    width: 20%;
    height: 20%;
}
.food1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.food {
    display: flex;
    flex-direction: column;
}