.top {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content:center;
    background-color:#C8102E;
    height: 120%;
}
.site {
    display: flex;
    border: 1%;
    margin: 1%;
    margin-right: 10%;
    align-content: center;
}