.top {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color:#ff0000
}
.site {
    display: flex;
    border: 1%;
    margin: 1%;
    margin-top: 3%;
    margin-right: 10%;
    align-content: center;
    background-color: ;
}