* {
    margin:0;
}
header{
    background-color: #861023;
    width: 100%;
}

footer{
    background-color: #053484;
    width: 100%;
}

.top, .bottom {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin: auto;
    padding: 2%;
    font-size: 150%;
}
.site {
    display: flex;
    border: 1%;
    margin: 1%;
    margin-left: 10%;
    align-content: center;
    width: 90%;
}

.link{
    text-decoration: none;
}
.link:link {
    color:black;
}
.link:visited {
    color:black;
}
.link:hover {
    color:white;
}
.foodmain, .sportmain, .soceqmain {
    display: flex;
    flex-direction: column;
    background-size: cover;
    border: 5%;
    overflow: hidden;
    background-image:url(../images/sports.png)
}
.foodmain {
    background-image: url(../images/dinner2.png);
}
.soceqmain {
    background-image: url(../images/soceq.webp);
}
.food,.h {
    margin: auto;
}
.sportmain {
    border-top: 5%;
}
.h {
    justify-content: center;
    align-content:center;
    margin-top: 2%;
    margin-bottom: 1%;
    text-align: center;
    font-size:200%;
    text-decoration: underline;
}
.food {
    margin-bottom: 2%;
}
.item{
    max-width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    padding: 3%;
    background-color: rgba(255,255,255,0.75);
    border:5%;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}
.img {
    width: 20%;
    height: 20%;
    display: flex;
    flex-direction: row;
}
.par {
    padding: 1%;
}

.intro {
    width: 75%;
    margin: auto;
}
body {
    background-color:rgb(223, 222, 222);
}