header{
    background-color: #861023;
    margin: -8px;
    padding: -8px;
}

footer{
    background-color: #053484;
    margin: -8px;
    padding: -8px;
}

.top, .bottom {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin: auto;
    padding: 2%;
    font-size: 150%;
}
.site {
    display: flex;
    border: 1%;
    margin: 1%;
    margin-left: 10%;
    align-content: center;
    width: 90%;
}

.link{
    text-decoration: none;
}
.link:link {
    color:black;
}
.link:visited {
    color:black;
}
.link:hover {
    color:white;
}
.foodmain {
    display: flex;
    flex-direction: column;
    background-image: url(../images/herring.jpg);
    border: 5%;
}
.food {
    margin: auto;
}
.item{
    max-width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    padding: 3%;
    background-color: rgba(255,255,255,0.75);
    border:5%;
    margin: 2.5%;
    
}
.img {
    width: 20%;
    height: 20%;
    display: flex;
    flex-direction: row;
}
.par {
    padding: 1%;
}